---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Página não encontrada - Radiodent Radiologia Odontológica">
  <main class="container">
    <h1 class="text-center">Página não encontrada</h1>
  </main>
</Layout>
