---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout
  title="Contato - Radiodent Radiologia Odontológica"
  class:list={"transition-fade"}
>
  <main class="container-fluid">
    <Map />
  </main>
</Layout>
