---
import Layout from "../layouts/Layout.astro";
import ExamesLista from "../components/ExamesLista.astro";
---

<Layout
  title="Radiodent Radiologia Odontológica - Panorâmica - Tomografia - Radiografia - Madureira RJ"
>
  <main>
    <ExamesLista />
  </main>
</Layout>
