---
import Layout from "../layouts/Layout.astro";
import ExamesLista from "../components/ExamesLista.astro";
---

<Layout
  title="Radiodent Radiologia Odontológica - Panorâmica - Tomografia - Radiografia - Madureira RJ"
>
  <section class="container-fluid bg-light px-0 transition-fade">
    <ExamesLista />
  </section>
</Layout>
