---
import Layout from "../layouts/Layout.astro";
import Exames from "../components/Exames.astro";
---

<Layout
  title="Radiodent Radiologia Odontológica - Panorâmica - Tomografia - Radiografia - Madureira RJ"
>
  <main>
    <Exames />
  </main>
</Layout>
