---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Radiodent Radiologia Odontológica - Panorâmica - Tomografia - Radiografia - Madureira RJ"
>
  <main>
    <Carousel />
  </main>
</Layout>
