---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Radiodent Radiologia Odontológica - Panorâmica - Tomografia - Radiografia - Madureira RJ"
>
  <main>
    <Carousel />

    <div class="row">
      <div class="col-md-12 whatsapp-bg py-5 px-5">
        <div class="container">
          <h2 class="text-white">Fale Conosco pelo WhatsApp!</h2>
          <p>
            Entre em contato de forma ágil e obtenha respostas às suas dúvidas.
            Estamos prontos para ajudar.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .whatsapp-bg {
    background-color: #1db954;
    background-image: url("images/whatsapp-background.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30%;
  }
</style>
