---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Radiodent Radiologia Odontológica - Panorâmica - Tomografia - Radiografia - Madureira RJ"
>
  <main>
    <section class="row d-flex justify-content-center px-0">
      <div class="col-md-12">
        <Carousel />
      </div>
    </section>

    <section class="py-4 bg-light row justify-content-center gap-2">
      <div
        class="card col-3 bg-primary text-white text-center border-0 px-4 py-3"
      >
        <div
          class="card-body d-flex justify-content-center align-items-center flex-column"
        >
          <div
            class="p-4 text-light rounded-circle bg-light custom-home-circle-icon mb-3"
          >
            <i class="bi bi-hospital display-5"></i>
          </div>
          <p class="fw-bold lh-1 mb-3">A clinica</p>
          <button class="btn btn-sm btn-outline-light">Saiba mais</button>
        </div>
      </div>
      <div
        class="card col-3 bg-warning text-white text-center border-0 px-4 py-3"
      >
        <div
          class="card-body d-flex justify-content-center align-items-center flex-column"
        >
          <div
            class="p-4 text-light rounded-circle bg-light custom-home-circle-icon mb-3"
          >
            <i class="bi bi-person-check display-5"></i>
          </div>
          <p class="fw-bold lh-1 mb-3">Convênios</p>
          <button class="btn btn-sm btn-outline-light">Saiba mais</button>
        </div>
      </div>
      <div
        class="card col-3 bg-primary text-white text-center border-0 px-4 py-3"
      >
        <div
          class="card-body d-flex justify-content-center align-items-center flex-column"
        >
          <div
            class="p-4 text-light rounded-circle bg-light custom-home-circle-icon mb-3"
          >
            <i class="bi bi-journal-check display-5"></i>
          </div>
          <p class="fw-bold lh-1 mb-3">Exames</p>
          <button class="btn btn-sm btn-outline-light">Saiba mais</button>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="col-md-12 whatsapp-bg py-5 px-5">
        <div class="container">
          <h2 class="text-white">Fale Conosco pelo WhatsApp!</h2>
          <p>
            Entre em contato de forma ágil e obtenha respostas às suas dúvidas.
            Estamos prontos para ajudar.
          </p>
          <button class="btn btn-outline-light">
            <i class="bi bi-whatsapp me-2"></i>Entrar em Contato</button
          >
        </div>
      </div>
    </section>
  </main>
</Layout>

<style is:global>
  .custom-home-circle-icon {
    background-color: rgba(6, 6, 6, 0.2) !important ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }
  .whatsapp-bg {
    background-color: #1db954;
  }

  .custom-border-slide {
    border-bottom: 16px solid #1db954;
  }
</style>
