---
import Image from "astro/components/Image.astro";
import { getImage } from "astro:assets";
import radiodentImage from "../../public/images/entrada-clinica-2.jpeg";
import myImage from "../../public/images/hero-image.png";
import Convenios from "../components/Convenios.astro";
import ExamesLista from "../components/ExamesLista.astro";
import Map from "../components/Map.astro";
import Layout from "../layouts/Layout.astro";
const optimizedBackgroundImage = await getImage({ src: myImage });

const yearsSinc = new Date().getFullYear() - 2000;
---

<Layout
  title="Radiodent Radiologia Odontológica - Panorâmica - Tomografia - Radiografia - Madureira RJ"
>
  <section class="container-fluid px-0 transition-fade">
    <div
      class="px-4 py-5 text-right hero-image d-flex flex-column justify-content-center align-items-end"
      style={`background-image: url('${optimizedBackgroundImage.src}')`}
    >
      <div class="col-lg-6 text-left">
        <h1 class="display-5 fw-bold main-color">Bem-vindo à Radiodent</h1>
        <p class="mb-4 fs-4 w-75 bold">
          Há {yearsSinc} anos, a Radiodent tem sido um ponto de referência em Madureira,
          oferecendo serviços em Radiologia Odontológica de alta qualidade e excelência.
        </p>
      </div>
    </div>
  </section>
  <section class="container-fluid px-0 pattern-image">
    <div class="container px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-sm-12 col-md-5 col-lg-5">
          <Image
            src={radiodentImage}
            alt="Radiodent"
            height={350}
            class:list={["rounded-3", "object-fit-cover", "img-fluid"]}
          />
        </div>
        <div class="col-lg-7">
          <h1 class="display-6 fw-bold lh-1 mb-3 main-color">Quem somos</h1>
          <p class="w-75">
            Somos uma equipe de profissionais especializados que realiza exames
            radiológicos na área de Odontologia, garantindo imagens de qualidade
            e diagnósticos precisos para especialidades como implantodontia,
            cirurgia, endodontia, periodontia e ortodontia. Utilizamos
            tecnologia digital avançada, que proporciona a redução dos níveis de
            exposição dos pacientes aos raios x, além de eliminar o uso de
            produtos químicos de processamento de imagens.
          </p>
          <p class="w-75">
            Nossa clínica trabalha com diversos planos odontológicos e, além
            disso, mantemos parcerias com empresas e dentistas, reforçando nosso
            compromisso em levar a excelência em saúde bucal para um grande
            número de pacientes. Na Radiodent você encontra confiança, inovação
            e uma equipe comprometida em proporcionar o melhor atendimento aos
            nossos pacientes.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid bg-light px-0">
    <ExamesLista />
  </section>
  <section class="container-fluid bg-light px-0 convenio-image py-5">
    <Convenios isIndexPage />
  </section>

  <section class="container-fluid bg-light px-0">
    <Map />
  </section>
</Layout>

<style>
  .custom-home-circle-icon {
    background-color: rgba(6, 6, 6, 0.2) !important ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }

  .hero-image {
    background-size: cover;
    min-height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
  }

  .pattern-image {
    background-image: url("/images/pattern.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .convenio-image {
    background-color: #000000;
    background-image: url("/images/banner-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .whatsapp-bg {
    background-color: #1db954;
  }

  .custom-border-slide {
    border-bottom: 16px solid #1db954;
  }

  .pool-carousel-inner {
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: pan-y pinch-zoom;
  }
</style>
