---
import Layout from "../layouts/Layout.astro";
import radiodentImage from "../../public/images/entrada-clinica.jpeg";
import Image from "astro/components/Image.astro";
import Exames from "../components/Exames.astro";

const yearsSinc = new Date().getFullYear() - 2000 + 1;
---

<Layout
  title="Radiodent Radiologia Odontológica - Panorâmica - Tomografia - Radiografia - Madureira RJ"
>
  <section class="container-fluid px-0">
    <div
      class="px-4 py-5 text-right hero-image d-flex flex-column justify-content-center align-items-end"
    >
      <div class="col-lg-6 text-left">
        <h1 class="display-5 fw-bold main-color">Bem vindo a Radiodent</h1>
        <p class="lead mb-4">
          Há {yearsSinc} anos, a Radiodent tem sido um ponto de referência em Madureira,
          oferecendo serviços odontológicos de alta qualidade e excelência. Nossa
          equipe altamente qualificada está comprometida em proporcionar o melhor
          atendimento aos nossos pacientes.
        </p>
      </div>
    </div>
  </section>
  <section class="container-fluid px-0 pattern-image">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-sm-column-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-12 col-lg-6">
          <Image
            src={radiodentImage}
            alt="Radiodent"
            class:list={["img-fluid", "rounded-3"]}
          />
        </div>
        <div class="col-lg-6">
          <h1 class="display-4 fw-bold lh-1 mb-3 main-color">Quem somos</h1>
          <p class="lead">
            Desde 2000, a Radiodent é um ponto de referência em Madureira,
            oferecendo serviços de radiografia odontológica de alta qualidade.
            Nossa equipe de profissionais especializados realiza exames
            personalizados, garantindo diagnósticos precisos para especialidades
            como implantodontia, cirurgia, endodontia, periodontia e ortodontia.
          </p>
          <p class="lead">
            Utilizamos tecnologia digital avançada, eliminando produtos químicos
            e reduzindo a exposição dos pacientes aos raios-x. Também mantemos
            parcerias com empresas, dentistas e Planos Odontológicos, reforçando
            nosso compromisso com a excelência na saúde bucal. Na Radiodent,
            você encontra confiança, inovação e cuidado excepcional em cada
            detalhe.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid bg-light px-0">
    <Exames />
  </section>
</Layout>

<style>
  .custom-home-circle-icon {
    background-color: rgba(6, 6, 6, 0.2) !important ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }

  .hero-image {
    background-image: url("/images/hero-image.png");
    background-size: cover;
    min-height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
  }

  .pattern-image {
    background-image: url("/images/pattern.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .whatsapp-bg {
    background-color: #1db954;
  }

  .custom-border-slide {
    border-bottom: 16px solid #1db954;
  }

  .pool-carousel-inner {
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: pan-y pinch-zoom;
  }
</style>
