---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de Privacidade - Radiodent Radiologia Odontológica">
  <main class="container">
    <h1 class="text-center mb-4">Política de Privacidade</h1>
    <p>
      Bem-vindo à RADIODENT RADIOLOGIA ODONTOLOGICA SC LTDA. Esta Política de
      Privacidade explica como coletamos, usamos, divulgamos e protegemos suas
      informações pessoais quando você visita nosso site e utiliza nossos
      serviços. Valorizamos sua privacidade e estamos comprometidos em proteger
      suas informações pessoais.
    </p>

    <h2>1. Informações que Coletamos</h2>
    <p>
      Atualmente, nosso site não coleta informações pessoais dos visitantes. Não
      utilizamos cookies, web beacons, ou qualquer outra tecnologia de
      rastreamento para coletar informações sobre seus hábitos de navegação.
    </p>

    <h2>2. Serviços de Terceiros</h2>
    <p>
      Embora não coletemos informações pessoais diretamente, usamos serviços de
      terceiros que podem coletar informações sobre você. Recomendamos revisar
      as políticas de privacidade desses serviços para entender como suas
      informações são coletadas, usadas e protegidas. Alguns dos serviços de
      terceiros que utilizamos incluem:
    </p>
    <ul>
      <li>
        <strong>Google Analytics</strong> – Usado para análise de tráfego do site.
      </li>
      <li>
        <strong>WhatsApp</strong> – Usado para comunicação com clientes.
      </li>
    </ul>

    <h2>3. Como Usamos Suas Informações</h2>
    <p>
      Como não coletamos informações pessoais, não utilizamos essas informações
      para nenhuma finalidade. No entanto, os serviços de terceiros que
      utilizamos podem usar suas informações para fornecer seus serviços,
      incluindo:
    </p>
    <ul>
      <li>Análise de tráfego do site</li>
      <li>Fornecimento de conteúdo personalizado</li>
      <li>Melhorias de serviço</li>
    </ul>

    <h2>4. Compartilhamento de Informações</h2>
    <p>
      Não compartilhamos suas informações pessoais com terceiros, exceto
      conforme descrito nesta Política de Privacidade. Serviços de terceiros
      podem compartilhar suas informações de acordo com suas próprias políticas
      de privacidade.
    </p>

    <h2>5. Proteção de Suas Informações</h2>
    <p>
      Estamos comprometidos em proteger suas informações pessoais. Implementamos
      medidas de segurança apropriadas para proteger suas informações contra
      acesso não autorizado, alteração, divulgação ou destruição. No entanto,
      lembre-se de que nenhuma transmissão de dados pela Internet é
      completamente segura e não podemos garantir a segurança absoluta de suas
      informações.
    </p>

    <h2>6. Seus Direitos de Privacidade</h2>
    <p>
      Dependendo de sua localização, você pode ter direitos adicionais
      relacionados à privacidade, como o direito de acessar, corrigir ou excluir
      suas informações pessoais. Para exercer esses direitos, entre em contato
      conosco através das informações de contato fornecidas abaixo.
    </p>

    <h2>7. Mudanças na Política de Privacidade</h2>
    <p>
      Podemos atualizar esta Política de Privacidade periodicamente para
      refletir mudanças em nossas práticas ou na legislação aplicável.
      Notificaremos você sobre quaisquer mudanças significativas, publicando a
      nova política de privacidade em nosso site. Recomendamos revisar esta
      política regularmente para se manter informado sobre como protegemos suas
      informações.
    </p>

    <h2>8. Contato</h2>
    <p>
      Se você tiver dúvidas ou preocupações sobre esta Política de Privacidade
      ou nossas práticas de privacidade, entre em contato conosco através do
      email <a href="mailto:seu-email@dominio.com">seu-email@dominio.com</a>.
    </p>
  </main>
</Layout>
