---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import formImage from "../../public/images/free-macbook-pro-with-female-professional.jpg";
import pdf from "../../public/requisicao.pdf";
import astroConfig from "../../astro.config.mjs";
---

<Layout title="Requisição - Radiodent Radiologia Odontológica">
  <section class="container-fluid px-0 transition-fade h-100 pattern-image">
    <div class="container py-5">
      <div class="row mb-5 d-flex flex-column-reverse flex-md-row">
        <div class="col-md-6">
          <h4 class="fw-bold lh-1 mb-3 main-color">Requisição</h4>
          <p>
            Você pode baixar o formulário de requisição para radiografia
            odontológica clicando no link abaixo. Esse documento é essencial
            para garantir que seu exame seja realizado corretamente, contendo
            todas as informações necessárias para a solicitação, como dados do
            paciente, tipo de radiografia desejada e a assinatura do
            profissional responsável. Certifique-se de preenchê-lo com atenção
            para evitar qualquer atraso no atendimento.
          </p>
          <p>
            Após preencher o formulário, leve-o até a clínica ou envie-o
            conforme as orientações fornecidas pelo seu dentista. Caso tenha
            dúvidas sobre qual exame solicitar, consulte seu profissional de
            saúde bucal para obter as recomendações adequadas. O uso correto
            desse documento facilita o agendamento e a execução da radiografia,
            garantindo um diagnóstico preciso e eficiente.
          </p>
          <div class="d-flex flex-md-row flex-column gap-2">
            <a
              class="btn btn-lg btn-outline-custom fs-6"
              href={pdf}
              target="_blank"
              ><i class="bi
            bi-filetype-pdf
            me-2"
              ></i>Requisição PDF
            </a>
            <a
              class="btn btn-lg btn-outline-custom fs-6 text-nowrap"
              href={astroConfig.site + astroConfig.base + "/formulario.html"}
              target="_blank"
              ><i class="bi bi-ui-checks me-2"></i> Preencher requisição</a
            >
          </div>
        </div>
        <div class="col-md-6">
          <Image
            src={formImage}
            alt="Formulário de Requisição"
            height={800}
            class:list={["rounded-3", "object-fit-cover", "img-fluid", "my-3"]}
          />
        </div>
      </div>
    </div>
  </section>
</Layout>
