---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import formImage from "../../public/images/free-macbook-pro-with-female-professional.jpg";
import pdf from "../../public/requisicao.pdf";
import astroConfig from "../../astro.config.mjs";
---

<Layout title="Requisição - Radiodent Radiologia Odontológica">
  <section class="container-fluid px-0 transition-fade h-100 pattern-image">
    <div class="container py-5">
      <div class="row mb-5 d-flex flex-column-reverse flex-md-row">
        <div class="col-md-6">
          <h4 class="fw-bold lh-1 mb-3 main-color">Requisição</h4>
          <p>
            Você pode baixar o formulário de requisição para radiografia
            odontológica no link abaixo. Esse documento deve ser preenchido pelo
            dentista e inclui as informações necessárias para a realização do
            exame, como os dados do paciente, o tipo de radiografia e a
            assinatura do profissional.
          </p>
          <p>
            Depois de preenchido, o formulário pode ser entregue pelo paciente
            na clínica ou enviado diretamente, conforme o combinado. Usar a
            requisição corretamente ajuda a agilizar o atendimento e garante um
            diagnóstico mais preciso.
          </p>
          <div class="d-flex flex-md-row flex-column gap-2">
            <a
              class="btn btn-lg btn-outline-custom fs-6"
              href={pdf}
              target="_blank"
              ><i class="bi
            bi-filetype-pdf
            me-2"
              ></i>Requisição PDF
            </a>
            <a
              class="btn btn-lg btn-outline-custom fs-6 text-nowrap"
              href={astroConfig.site + astroConfig.base + "/formulario.html"}
              target="_blank"
              ><i class="bi bi-ui-checks me-2"></i> Preencher requisição</a
            >
          </div>
        </div>
        <div class="col-md-6">
          <Image
            src={formImage}
            alt="Formulário de Requisição"
            height={800}
            class:list={["rounded-3", "object-fit-cover", "img-fluid", "my-3"]}
          />
        </div>
      </div>
    </div>
  </section>
</Layout>
