---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nós - Radiodent Radiologia Odontológica">
  <main id="about">
    <PageTitle title="Sobre nós" />
    <div class="container py-5">
      <div class="row">
        <!-- Coluna da imagem -->
        <div class="col-md-5">
          <img
            src="/images/logo-raw-removebg-preview.png"
            alt="Imagem Radiodent"
            class="img-responsive img-thumbnail"
          />
        </div>

        <!-- Coluna do texto -->
        <div class="col-md-7">
          <h2 class="text-primary">Nossa Visão 🌟</h2>
          <p>
            Queremos ser o ponto de confiança e referência para todos que buscam
            precisão e cuidado em diagnósticos odontológicos. Mais do que
            exames, estamos aqui para construir parcerias duradouras com
            profissionais de odontologia, oferecendo sempre o que há de mais
            atual e eficiente para cada necessidade.
          </p>

          <h2 class="text-primary">Nossa Missão 🎯</h2>
          <p>
            Nossa missão é clara: proporcionar um atendimento humanizado e de
            qualidade, com foco em diagnósticos precisos e personalizados.
            Investimos em tecnologia digital para facilitar a vida dos
            profissionais e pacientes, buscando sempre o equilíbrio entre
            inovação e cuidado. Cada exame, cada detalhe, é pensado com carinho
            para entregar o que há de melhor na saúde bucal.
          </p>

          <h2 class="text-primary">Nossos Valores 🤝</h2>
          <ul>
            <li>
              <strong>Excelência com Simplicidade</strong>: Valorizamos a
              entrega de um serviço de alta qualidade de forma acessível e
              acolhedora.
            </li>
            <li>
              <strong>Respeito e Parceria</strong>: Acreditamos na importância
              de criar laços sólidos com profissionais, pacientes e parceiros,
              trabalhando juntos por uma odontologia melhor.
            </li>
            <li>
              <strong>Sustentabilidade e Inovação</strong>: Reduzir o impacto
              ambiental e investir em novas tecnologias são partes essenciais do
              nosso dia a dia. Cuidar do meio ambiente faz parte do nosso
              compromisso com o futuro.
            </li>
            <li>
              <strong>Confiança e Transparência</strong>: Queremos que todos se
              sintam seguros e bem informados em cada etapa do atendimento, pois
              entendemos que confiança é a base de tudo o que fazemos.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
