---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nós - Radiodent Radiologia Odontológica">
  <main id="about" class="container my-5 transition-slide">
    <h2 class="text-center mb-4">Sobre Nós</h2>
    <div class="row">
      <div class="col-md-6">
        <p>
          Desde 2000, a Radiodent tem sido um ponto de referência em Madureira,
          oferecendo serviços odontológicos de alta qualidade e excelência.
          Contamos com uma equipe especializada e altamente capacitada, dedicada
          a realizar exames de maneira personalizada e diferenciada, para
          proporcionar diagnósticos precisos aos profissionais de odontologia em
          diversas especialidades, incluindo implantodontia, cirurgia,
          endodontia, periodontia e ortodontia.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Estamos na vanguarda da tecnologia digital, reduzindo nosso impacto
          ambiental ao eliminar o uso de produtos químicos e reveladores,
          enquanto garantimos uma menor exposição dos pacientes aos raios-x.
          Além disso, mantemos parcerias estratégicas com várias empresas,
          dentistas e Planos Odontológicos, demonstrando nosso compromisso com a
          evolução constante e a excelência na saúde bucal.
        </p>
      </div>
    </div>
  </main>
</Layout>
