---
import PageTitle from "../components/PageTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nós - Radiodent Radiologia Odontológica">
  <main id="about">
    <PageTitle title="Sobre nós" />
    <div class="container my-5 transition-slide">
      <div class="row">
        <div class="col-md-6">
          <img
            src="https://via.placeholder.com/500"
            class="img-fluid"
            alt="Radiodent"
          />
        </div>
        <div class="col-md-6">
          <p>
            Contamos com uma equipe de profissionais altamente especializados e
            constantemente atualizados, prontos para oferecer um atendimento
            personalizado e diferenciado. Nosso objetivo é proporcionar
            diagnósticos precisos e tratamentos eficazes em diversas
            especialidades odontológicas, como implantodontia, cirurgia,
            endodontia, periodontia e ortodontia. Cada exame é realizado com a
            máxima atenção aos detalhes, garantindo um cuidado superior para
            cada paciente.
          </p>
          <p>
            Estamos sempre na vanguarda da tecnologia digital. Em nossa clínica,
            investimos em equipamentos modernos que não só aumentam a precisão
            dos diagnósticos, mas também minimizam o impacto ambiental.
            Eliminamos o uso de produtos químicos e reveladores, adotando
            soluções sustentáveis que reduzem significativamente a exposição dos
            pacientes aos raios-x. Essa abordagem inovadora reflete nosso
            compromisso com a saúde e o meio ambiente.
          </p>
          <p>
            Além disso, valorizamos a construção de parcerias estratégicas com
            diversas empresas, dentistas e planos odontológicos. Essas
            colaborações nos permitem oferecer um serviço integrado e
            abrangente, assegurando que nossos pacientes recebam o melhor
            cuidado possível. Nossa dedicação à evolução constante é um
            testemunho do nosso compromisso com a excelência em todos os
            aspectos da saúde bucal.
          </p>
          <p>
            Na Radiodent, acreditamos que um sorriso saudável vai além da
            estética; é um reflexo do cuidado e da atenção que dedicamos a cada
            paciente. Estamos orgulhosos da nossa trajetória e ansiosos para
            continuar proporcionando sorrisos saudáveis e felizes por muitos
            anos.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
