---
interface Props {
  isIndexPage: boolean;
}

import astroConfig from "../../astro.config.mjs";
import data from "../../public/data/images.json";

const images = data;

const { isIndexPage } = Astro.props;
const { site, base } = astroConfig;
---

<div class="container px-4 py-5 bg-none" id="featured-3">
  <h2 class="pb-2 display-6 fs-2 main-color fw-bold">Convênios</h2>
  <p class="w-75 lead">
    Nossa clínica tem parcerias com empresas, dentistas e planos odontológicos
    para oferecer serviços de alta qualidade aos nossos pacientes.
  </p>
  <div class="row g-4 py-5 row-cols-4 row-cols-lg-12">
    {
      images.slice(0, isIndexPage ? 14 : images.length).map((image) =>
        isIndexPage ? (
          <div class="col-1 col-lg-1 col-md-4">
            <a href="/convenios">
              <img
                src={site + "/" + base + image.src}
                alt={image.name}
                class="img-fluid border rounded-3 hover-zoom"
              />
            </a>
          </div>
        ) : (
          <div class="col-1">
            <img
              src={astroConfig.site + "/" + image.src}
              alt={image.name}
              class="img-fluid border rounded-3"
            />
          </div>
        )
      )
    }
  </div>
</div>
