---
import debug from "debug";
import data from "../../public/data/servicos.json";

const { servicos } = data;

debug("exames")("exames", servicos);
---

<div class="container px-4 py-5 bg-light" id="featured-3">
  <h2 class="pb-2 border-bottom main-color">Serviços</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    {
      servicos.map((servico) => (
        <div class="feature col">
          <div class="feature-icon bg-main  bg-gradient">
            <i class={"bi " + servico.icone} />
          </div>
          <h2>{servico.categoria}</h2>
          <div set:html={servico.descricao} />
          <a href="#" class="icon-link">
            Saiba mais
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#chevron-right" />
            </svg>
          </a>
        </div>
      ))
    }
  </div>

  <div class="row py-5">
    <div class="col-12 text-center">
      <a
        type="button"
        class="btn btn-lg btn-primary btn-main"
        href="https://api.whatsapp.com/send?phone=5521984771334&text=Ol%C3%A1%2C%20gostaria%20de%20agendar%20um%20exame."
        target="_blank">Faça o seu agendamento</a
      >
    </div>
  </div>
</div>

<style>
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 0.75rem;
  }

  .bg-main {
    background-color: #015697;
  }

  .btn-main {
    background-color: #015697;
  }
  .btn-main:hover {
    background-color: #005697;
  }
</style>
