<div class="container-fluid bg-light">
  <footer class="py-5 container">
    <div class="row">
      <div class="col-6 mb-3">
        <img
          src="images/logo-raw-removebg-preview.png"
          class="w-25"
          alt="logo da empresa"
        />
      </div>

      <div
        class="col-6 mb-3 text-end d-flex align-items-end justify-content-end"
      >
        <div
          class="d-flex justify-content-end align-items-end gap-2 social-media-links"
        >
          <a
            href="https://www.facebook.com/radiodentt"
            class="facebook-color"
            target="_blank"
            rel="noopener noreferrer"
            title="Facebook radiodent"><i class="bi bi-facebook fs-4"></i></a
          >
          <a
            href="https://www.instagram.com/explore/locations/639947098/radiodent/"
            class="instagram-color"
            target="_blank"
            rel="noopener noreferrer"
            title="Instagram radiodent"><i class="bi bi-instagram fs-4"></i></a
          >
          <a
            href="https://br.linkedin.com/company/radiodent-radiologia-odontologica"
            class="linkedin-color"
            target="_blank"
            rel="noopener noreferrer"
            title="Linkedin radiodent"><i class="bi bi-linkedin fs-4"></i></a
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="">
        <ul class="nav justify-content-center pb-3 mb-3">
          <li class="nav-item">
            <a href="/sobre" class="nav-link px-2 text-body-secondary">Sobre</a>
          </li>
          <li class="nav-item">
            <a href="/exames" class="nav-link px-2 text-body-secondary"
              >Exames</a
            >
          </li>
          <li class="nav-item">
            <a href="/contato" class="nav-link px-2 text-body-secondary"
              >Contato</a
            >
          </li>
        </ul>
      </div>

      <div
        class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
      >
        <p>
          © {new Date().getFullYear()} Radiodent Radiologia Odontológica SC LTDA.
          <br />
          CNPJ: 03.358.760/0001-63
        </p>
        <p class="text-body-secondary">
          Desenvolvido por
          <a
            href="https://www.mezon.tec.br/"
            target="_blank"
            rel="noopener noreferrer">Mezon Tech</a
          >
        </p>
      </div>
    </div>
  </footer>

  <style>
    .social-media-links a:hover {
      transition: all 0.5s ease-in-out;
      opacity: 0.8;
    }
  </style>
</div>
