<footer class="container-fluid footer-background text-light">
  <div class="container">
    <div class="row py-3">
      <div class="col-sm-12 col-md-6 mb-3 d-flex flex-column align-items-start">
        <p>
          © {new Date().getFullYear()} Radiodent Radiologia Odontológica SC LTDA.
          <br />
          CNPJ: 03.358.760/0001-63
        </p>

        <p class="d-flex gap-3 justify-content-center">
          <a
            href="https://www.facebook.com/radiodentt"
            target="_blank"
            rel="noopener noreferrer"
            title="Facebook radiodent"><i class="bi bi-facebook fs-4"></i></a
          >
          <a
            href="https://www.instagram.com/explore/locations/639947098/radiodent/"
            target="_blank"
            rel="noopener noreferrer"
            title="Instagram radiodent"><i class="bi bi-instagram fs-4"></i></a
          >
          <a
            href="https://br.linkedin.com/company/radiodent-radiologia-odontologica"
            target="_blank"
            rel="noopener noreferrer"
            title="Linkedin radiodent"><i class="bi bi-linkedin fs-4"></i></a
          >
        </p>
      </div>

      <div
        class="col-sm-12 col-md-6 mb-3 d-flex align-items-start justify-content-end"
      >
        <p class="text-light">
          Desenvolvido por
          <a
            href="https://www.mezon.tec.br/"
            target="_blank"
            rel="noopener noreferrer">Mezon Tech</a
          >
        </p>
      </div>
    </div>
  </div>

  <style>
    .social-media-links a:hover {
      transition: all 0.5s ease-in-out;
      opacity: 0.8;
    }
    .footer-background {
      background-color: #005697;
    }
  </style>
</footer>
