---
import astroConfig from "../../astro.config.mjs";

const { site, base } = astroConfig;
---

<footer
  class="container-fluid footer-background text-light position-relative bottom-0"
>
  <div class="container">
    <div class="row py-3">
      <div class="col-sm-12 col-md-6 mb-3 d-flex flex-column align-items-start">
        <p>
          © {new Date().getFullYear()} Radiodent Radiologia Odontológica SC LTDA.
          <br />
          Responsável Técnico: Carla Barros de Oliveira | CRO 15213 <br />
          CNPJ: 03.358.760/0001-63
        </p>

        <p class="d-flex gap-3 justify-content-center social-media-links">
          <a
            href="https://www.facebook.com/radiodentt"
            target="_blank"
            rel="noopener noreferrer"
            title="Facebook radiodent"><i class="bi bi-facebook fs-4"></i></a
          >
          <a
            href="https://www.instagram.com/explore/locations/639947098/radiodent/"
            target="_blank"
            rel="noopener noreferrer"
            title="Instagram radiodent"><i class="bi bi-instagram fs-4"></i></a
          >
          <a
            href="https://br.linkedin.com/company/radiodent-radiologia-odontologica"
            target="_blank"
            rel="noopener noreferrer"
            title="Linkedin radiodent"><i class="bi bi-linkedin fs-4"></i></a
          >
        </p>
        <div class="fw-bold">
          <a
            href={site + base + "politica-de-privacidade"}
            class="text-light fw-bold text-decoration-none"
          >
            Política de Privacidade
          </a>
        </div>
      </div>

      <div
        class="col-sm-12 col-md-6 mb-3 d-flex align-items-start justify-content-end"
      >
        <div class="text-light d-flex flex-column g-2 flex-wrap">
          <div class="fw-bold">
            Desenvolvido por
            <a
              href="https://www.mezon.com.br/"
              class="fw-bold"
              style="color: orangered;"
              target="_blank"
              rel="noopener noreferrer"
              >Mezon Tech
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .social-media-links a {
      color: #ffffff; /* Cor base em branco para melhor contraste */
      opacity: 0.85;
      transition:
        color 0.4s ease,
        transform 0.4s ease,
        opacity 0.4s ease;
    }

    .social-media-links a:hover {
      color: #d3d3d3;
      transform: translateY(-3px);
      opacity: 0.96;
    }

    .footer-background {
      background: linear-gradient(135deg, #004080 0%, #0077b6 100%);
      color: #ffffff;
    }
  </style>
</footer>
