---
import astroConfig from "../../astro.config.mjs";
---

<div class="container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href={astroConfig.site}>
      <img src="images/logo.jpg" alt="Logo Radiodent" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto d-flex gap-8">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={astroConfig.site}
            >Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={astroConfig.site + "/exames"}>Exames</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={astroConfig.site + "/convenios"}
            >Convênios</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href={astroConfig.site + "/download"}>Baixar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={astroConfig.site + "/sobre"}>Quem somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={astroConfig.site + "/contato"}>Contato</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
