---
import astroConfig from "../../astro.config.mjs";
const optimizedBackgroundImage = "/images/logo.png";
const { site, base } = astroConfig;
---

<nav class="navbar navbar-expand-lg py-4 bg-light mx-auto">
  <div class="container d-flex justify-content-space-between">
    <a class="navbar-brand" href={site}>
      <img
        src={site + base + optimizedBackgroundImage}
        alt="Logo Radiodent"
        class="img-fluid"
        width="250"
      />
    </a>
    <button
      class="navbar-toggler shadow-none border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list-nested fs-1 main-color"></i>
    </button>
    <div
      class="offcanvas offcanvas-start bg-light main-color"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
      style="backdrop-filter: blur(10px);"
    >
      <div class="offcanvas-header border-bottom">
        <a class="navbar-brand" href={astroConfig.site}>
          <img
            src={site + base + optimizedBackgroundImage}
            alt="Logo Radiodent"
            width="250"
          />
        </a>
        <button
          type="button"
          class="btn-close main-color shadow-none me-2"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div
        class="offcanvas-body d-flex flex-column justify-content-center align-items-center"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              data-bs-dismiss="offcanvas"
              href={astroConfig.site + (astroConfig.base || "/")}
            >
              Página inicial
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-dismiss="offcanvas"
              href={astroConfig.site + (astroConfig?.base || "/") + "exames"}
            >
              Exames</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-dismiss="offcanvas"
              href={astroConfig.site + (astroConfig?.base || "/") + "convenios"}
            >
              Convênios</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-dismiss="offcanvas"
              href={astroConfig.site +
                (astroConfig?.base || "/") +
                "requisicao"}
            >
              Requisição</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-bs-dismiss="offcanvas"
              href={astroConfig.site + (astroConfig?.base || "/") + "contato"}
            >
              Contato</a
            >
          </li>
          <li class="nav-item d-none d-md-block d-lg-block">
            <a
              class="btn btn-sm btn-success btn-main text-white"
              data-bs-dismiss="offcanvas"
              href="https://api.whatsapp.com/send?phone=5521984771334&text=Ol%C3%A1%2C%20gostaria%20de%20agendar%20um%20exame."
            >
              <i class="bi bi-whatsapp"></i> Contatar</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<style>
  nav ul li a {
    color: #005697;
    font-size: 1.1rem;
  }

  nav ul li a:hover {
    color: #005697;
    opacity: 0.8;
  }
  @media screen and (max-width: 768px) {
    .offcanvas.show {
      display: block;
    }

    .offcanvas-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      background: #015697;
      background: radial-gradient(at right bottom, #015697, #0d0e16);
      opacity: 0;
    }

    .offcanvas.show .offcanvas-body {
      transform: perspective(1000px) scale(1) rotateX(0deg);
      opacity: 1;
    }

    .navbar-nav {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .nav-item {
      margin: 10px 0;
    }

    .nav-link {
      color: white;
      font-size: 1.4rem;
      font-weight: bold;
      text-decoration: none;
      transition: opacity 0.3s ease-in-out;
    }

    .nav-link:hover {
      opacity: 0.8;
    }

    nav ul li a {
      color: #ffffff;
      font-size: 2rem;
    }

    .nav-link.active {
      color: #ffffff;
    }
  }
</style>
