---
interface Props {
  title: string;
}

const { title } = Astro.props;

---
<section class="bg-custom text-white py-3">
  <div class="container">
    <h1 class="d-flex justify-content-start ps-3">{title}</h1>
  </div>
</section>