<div class="position-fixed bottom-0 end-0 m-3">
  <a
    href="https://api.whatsapp.com/send?phone=5521984771334&text=Ol%C3%A1%2C%20gostaria%20de%20agendar%20um%20exame."
    target="_blank"
    type="button"
    class="btn btn-lg btn-whatsapp btn-floating rounded-circle"
  >
    <i class="bi bi-whatsapp text-white fs-3"></i>
  </a>
</div>
