<div class="position-fixed bottom-0 end-0 m-3">
  <button
    type="button"
    class="btn btn-lg btn-whatsapp btn-floating rounded-circle"
  >
    <i class="bi bi-whatsapp text-white fs-3"></i>
  </button>
</div>
