---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
  <script>
    import "bootstrap/dist/js/bootstrap.bundle.min.js";
  </script>
</html>

<style is:global>
  .bg-custom {
    background: #031633;
    background: linear-gradient(
      90deg,
      rgba(3, 22, 51, 1) 0%,
      rgba(11, 47, 86, 0.95) 56%,
      rgba(11, 47, 86, 0.9) 100%
    );
  }

  .instagram-color {
    background: -webkit-linear-gradient(
      45deg,
      #f58529,
      #dd2a7b,
      #8134af,
      #515bd4
    );
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .facebook-color {
    color: #1877f2;
  }

  .linkedin-color {
    color: #0a66c2;
  }
</style>
