---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "bootstrap-icons/font/bootstrap-icons.css";
import "bootstrap/dist/css/bootstrap.min.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Whatsapp from "../components/Whatsapp.astro";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <Whatsapp />
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  ></script>
  <script>
    import bootstrap from "bootstrap";

    var tooltipTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="tooltip"]')
    );
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  </script>
</html>

<style is:global>
  *,
  body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-color {
    color: #005697 !important;
  }

  .btn-whatsapp {
    background-color: #25d366;
    color: #fff;
  }
  .btn-whatsapp:hover {
    background-color: #1db954;
    color: #fff;
    box-shadow: 1px 1px 1px #232332;
    transition: all 0.5s ease-in-out;
  }
</style>
